/*
mySE documentation created by Arthurdw.
mySE stands for My Secure Environment!
mySE was created for GO-Atheneum Oudenaarde
This project and all it files are under a MIT licence.
Project (mySE) started on 09/01/2020!
*/

/*
This file contains the CSS for the content of the documentation website.
*/

h3, h3 a {
    font-size: 27px;
}

a {
    color: rgb(77, 96, 179);
    text-decoration: none;
}

a:hover {
    color: rgb(108, 123, 190);
    text-decoration: underline;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
}

#content {
    padding-top: 10px;
    margin-left: 215px;
    margin-right: 10px;
}

#content h2, #content h3, #content h4, #content h5, #content p, #content table {
    margin: 3px 0;
    padding: 0;
    text-align: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#content table {
    border: 1px solid #144458;
}

#content h3, #content h4 {
    margin-top: 15px;
}

.title {
    color: #247BA0;
}

.title:hover {
    color: rgb(44, 139, 180);
    text-decoration: underline;
}

.params {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.light-bg {
    background-color: #113849;
    border-radius: 20px;
} 

.dark-bg {
    background-color: #0E2D3B;
    border-radius: 20px;
}

.path {
    color: rgb(47, 74, 85);
}

.dark {
    color: #5F9FB9;
}

.code-block {
    border-radius: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}