/* Everything that relates to the page header. */

:root {
    --theme-color-light: #eeeeee;
    --theme-color-flash: #00adb5;
    --theme-color-medium: #393e46;
    --theme-color-dark: #222831;

    --header-item-count: 5;
}

header {
    z-index: 10;
    height: 50px;
    width: 100%;
    float: left;
    position: fixed;
    background-color: var(--theme-color-dark);
    top: 0;
}

header a,
header a img {
    height: 40px;
    padding-bottom: 5px;
}

nav {
    position: fixed;
    width: 100%;
    top: calc((-45px * (var(--header-item-count) - 1)) + 5px);
    transition: 0.3s ease;
    z-index: 9;
}

nav.active {
    top: 50px;
}

nav ul {
    list-style: none;
    background-color: var(--theme-color-dark);
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    border-top: 3px solid var(--theme-color-medium);
}

nav ul li a {
    display: block;
    padding: 10px 10px 13px;
}

nav ul li a img {
    float: right;
    margin-bottom: -10px;
}

#content {
    top: 50px;
    position: absolute;
    z-index: 8;
    width: 100%;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 10px 8px;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--theme-color-light);
}

.hamburger-box {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--theme-color-light);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--slider .hamburger-inner {
    top: 2px;
}

.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
    top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@media all and (min-width:1025px) {
    nav {
        z-index: 11;
        top: 0;
        right: 50px;
        display: block;
    }

    header a {
        position: absolute;
        top: 5px;
        left: 50px;
    }

    nav ul {
        float: right;
        width: 800px;
    }

    nav ul li {
        border: none;
        float: left;
        padding: 4px 10px 4px 10px;
        transition: background-color ease-in-out 0.3s;
    }

    nav ul li:hover {
        background-color: var(--theme-color-medium);
    }

    nav ul li a img {
        margin: -5px 10px;
        float: none;
    }


    #hamburger {
        position: absolute;
        top: -300%;
    }
}

@media all and (min-width:960px) and (max-width: 1024px) {
    header a {
        margin: 5px 0 5px 45vw;
    }
}

@media all and (min-width:801px) and (max-width: 959px) {
    header a {
        margin: 5px 0 5px 45vw;
    }
}

@media all and (min-width:769px) and (max-width: 800px) {
    header a {
        margin: 5px 0 5px 40vw;
    }
}

@media all and (min-width:569px) and (max-width: 768px) {
    header a {
        margin: 5px 0 5px 40vw;
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
    header a {
        margin: 5px 0 5px 35vw;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    header a {
        /* position: absolute;
        top: 5px;
        bottom: 5px;
        left: 30vw; */
        margin: 5px 0 5px 30vw;
    }
}

@media all and (min-width:0px) and (max-width: 320px) {
    header a {
        margin: 5px 0 5px 30vw;
    }
}