:root {
    --theme-color-light: #eeeeee;
    --theme-color-flash: #00adb5;
    --theme-color-medium: #393e46;
    --theme-color-dark: #222831;

    --theme-background-light: #ffffff;
    --theme-background-dark: #00AA00;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--theme-color-light);
}

#content {
    display: block;
}

#title, #desc {
    padding: 0;
    margin: 0;
    text-align: center;
}

#title {
    margin-top: 35vh;
    font-size: 70px;
}

#desc {
    margin-top: 15px;
    font-size: 25px;
    margin-bottom: 40vh;
}

#about {
    background-color: var(--theme-color-medium);
    padding: 10px;
}

#about p {
    margin: 8px 0 15px;
}

@media all and (min-width:1025px) {
    #desc {
        margin-bottom: 50vh;
    }

    #about {
        text-align: center;
        padding: 30px 10px;
    }
}

@media all and (min-width:960px) and (max-width: 1024px) {
}

@media all and (min-width:801px) and (max-width: 959px) {
}

@media all and (min-width:769px) and (max-width: 800px) {
}

@media all and (min-width:569px) and (max-width: 768px) {
}

@media all and (min-width:481px) and (max-width: 568px) {
}

@media all and (min-width:321px) and (max-width: 480px) {
}

@media all and (min-width:0px) and (max-width: 320px) {
}