/*
mySE documentation created by Arthurdw.
mySE stands for My Secure Environment!
mySE was created for GO-Atheneum Oudenaarde
This project and all it files are under a MIT licence.
Project (mySE) started on 09/01/2020!
*/

/*
The guiding menu for the documentation website.
*/

#menu {
    float: left;
    width: 200px;
    background-color: #F3FFBD;
    border-right: 3px solid #B2DBBF;
    border-bottom: 3px solid #B2DBBF;
}

#menu h2 {
    text-align: center;
    font-size: 25px;
}

.selected {
    background-color: #C7D19B;
}

.item-directory {
    margin: 0;
    padding: 10px 0 10px 10px;
    display: block;
    font-size: 20px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s ease-in-out;
}

.disabled:hover {
    background-color: #DDE8AC;
}
